*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 14px;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

body {
  background-color: var(--backgroundColor);
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.root {
  padding: 1rem 1.5rem;
}

.react-intl-universal-example {
  .title {
    margin-top: 10px;
    font-size: 22px;
    font-weight: bold;
  }

  a {
    margin-right: 16px;
  }
}